.home-container {
  text-align: center;
  padding: 40px;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 30px;
  color: #333;
}
/*
.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
  max-width: 600px;
  margin: 0 auto;
}*/

button {
  padding: 2px 4px;
  border: none;
  border-radius: 20px;
  background-color: #0f6ac5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: background 0.2s ease-in-out, transform 0.1s ease;
  margin: 2px;
  margin-top: 10px;
}

.topButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.topButtons button {
  color: white;
}

.bottomButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.buttomButtons button {
  color: black;
}

.sideIcon {
  width: 25px;
  margin-right: 4px;
}

button:hover {
  background-color: #0b5aaa;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  background-color: #07427e;
}

.logo {
  width: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: #0f6ac5;
}
