.empresas-container {
    background: white;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    padding-left: 210px;
    box-sizing: border-box;
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}
.content {
    max-width: 100vw;
    margin: 20px auto;
}
.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 50px;
}

.title {
    display: flex;
    align-items: center;
    gap: 12px;
}

.building-icon {
    font-size: 26px;
}

.title h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.right-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-cadastrar {
    background: #1d4ed8;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btn- {
    background: #1d4ed8;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btn-cadastrar:hover {
    background: #1d4ed8;
    transform: translateY(-1px);
}

.empresas-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.empresas-table th,
.empresas-table td {
    padding: 12px;
    text-align: left;
}

.empresas-table th {
    background: #dfdfdf;
    font-weight: bold;
}

.empresas-table td button {
    margin-right: 8px;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-edit {
    background: #374151;
    color: white;
}

.btn-delete {
    background: #b91c1c;
    color: white;
}
