@font-face {
  font-family: "androidFont";
  src: url("..//assets/fonts/Android.ttf") format("truetype");
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 386px;
}

.login-box {
  padding: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.input-group {
  margin: 0;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 25px;
  margin-bottom: 0.5rem;
  color: #0f6ac5;
  margin-right: 20px;
  width: 55px;
  font-weight: bolder;
}

.input-group input {
  padding: 0.5rem;
  border-radius: 3px;
  border: 3px solid #0f6ac5;
  width: 250px;
  height: 35px;
  left: 0;
  box-shadow: 2px 2px 5px 1px rgb(141, 141, 141);
}

.input-group input:focus {
  padding: 0.5rem;
  border-radius: 5px;
  border: 3px solid #2885e2;
  width: 250px;
  height: 35px;
  left: 0;
  box-shadow: 2px 2px 5px 1px #388bdf;
  outline: none;
  transition: all 0.2s;
}

.btn-login {
  width: 150px;
  padding: 5px;
  background: #404951;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bolder;
}

.btn-login:hover {
  transform: translateY(0);
  background: #0f6ac5;
  transition: all 0.2s;
  box-shadow: 0px 0px 5px 1px #388bdf;
  box-sizing: border-box;
}

.mensagem {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #f80000;
}

.logo-name-box {
  display: flex;
  background-color: #0f6ac5;
  margin: 0;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.logo-name {
  background-color: white;
  display: flex;
  color: #404951;
  justify-self: center;
  align-items: center;
  font-family: "androidFont";
  font-size: 60px;
  padding: 5px;
  margin: 0;
  width: 70%;
  justify-content: space-evenly;
  border: #404951 solid;
  border-radius: 20px;
}
.logo-name h1 {
  position: relative;
  top: 200px;
}

.logo-name img {
  margin: 0;
  padding: 0;
  height: 60px;
  background-color: white;
}

.inputs {
  border: 5px #0f6ac5 solid;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  justify-content: center;
  gap: 1.5px;
}

/* FUNDO EXCLUSIVO TELA DE LOGIN */
.login-page-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;


  background: linear-gradient(135deg, #191970);
 
}
