.produtos-container {
    background: white;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    padding-left: 210px;
    box-sizing: border-box;
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

.content {
    max-width: 100vw;
    margin: 20px auto;
    padding-left: 40px;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-actions {
    display: flex;
    gap: 10px;
}

.btn-cadastrar {
    background: #1d4ed8;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btn-cadastrar:hover {
    transform: translateY(-1px);
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar .search-icon {
    position: absolute;
    left: 12px;
    font-size: 16px;
    color: #6b7280;
}

.search-bar input {
    width: 100%;
    padding: 8px 12px 8px 36px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    font-size: 14px;
}

.produtos-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

.produtos-table th,
.produtos-table td {
    padding: 12px;
    text-align: left;
}

.produtos-table th {
    background: #dfdfdf;
    font-weight: bold;
}

/* CENTRALIZAR A COLUNA AÇÕES */
.acoes-header {
    text-align: center;
}

.acoes-cell {
    text-align: center;
}

.acoes-wrapper {
    display: flex;
    justify-content: center;
    gap: 12px;
}


.btn-alterar, .btn-excluir {
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-alterar {
    background: #3a3a3a;
    color: white;
}

.btn-excluir {
    background: #dc2626;
    color: white;
}

/* Ícones não mudam tamanho */
.btn-alterar span, .btn-excluir span {
    font-size: 20px;
}

.logo {
    height: 30px;
    width: auto;
    background-color: #007bff;
    padding: 4px;
    border-radius: 6px;
}

.produtos-table th:nth-child(5),
.produtos-table td:nth-child(5) {
    text-align: center !important;
    width: 120px;
}
